.order.confirm {
    table {
        .order-id {
            background-color: #0073ff;
            border-right: 1px solid #ffffff;
        }
        .order-payment-method {
            background-color: #6d00da68;
        }
    }
}