.row.switch-receive {
    display: flex;
    justify-content: space-between;
    .switch-wrapper {
        position: relative;
        width: 10%;
        height: 24px;
        border-radius: 14px;
        cursor: pointer;
        .switch {
            position: absolute;
            top: 0;
            width: 22px;
            height: 22px;
            border-radius: 50%;
            background-color: var(--on-surface);
        }
    }
    .switch-wrapper.on {
        border: 1px solid #26ff00;
        background-color: #26ff00;
        .switch {
            right: 0;
            border: 1px solid #26ff00;
        }
    }
    .switch-wrapper.off {
        border: 1px solid #ff0000;
        background-color: #ff0000;
        .switch {
            left: 0;
            border: 1px solid #ff0000;
        }
    }
}