.order.awaiting-delivery {
    .btn-space {
        button {
            width: 100%;
        }
        button.active {
            color: var(--on-primary);
            background-color: rgba(16, 168, 97, 0.929);
        }
    }
}